body{
  margin: 0;
}

/*Landing*/
  .landing-title-layout{
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    position: absolute;
    background-image: url('../img/snowMain.jpg');
    background-size: cover;
  }

  .title-box{
    height: 10em;
    width: 20em;
    background-color: transparent;
    z-index: 2;
    color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

/*Video Background Text project*/

.video-box{
  height: 10em;
  width: 20em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.video-inlay{
  height: 10em;
  width: 20em;
  background-color: #d3531a;
  z-index: 1;
}

.video-container{
  height: 10em;
  width: 20em;
  z-index: 1;
}

.explore-inlay{
  height: 10em;
  width: 20em;
  z-index: 1;
  position: absolute;
  background-position: center;
  background-size: contain;
  margin-right: 25%;
  margin-left: 25%;
  z-index: 2;
}

/*End of Video Background Text Project*/


 /*HAMBURGER MENU*/
.layout{
  height: 150vh;
  width: 100vw;
}

/*test menu X*/
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3 {
  width: 60px;
  height: 45px;
  position: fixed;
  margin: 5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 4;
}

#nav-icon3 span {
  display: block;
  position: fixed;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  z-index: 4;
}

/*End Test*/

.nav-position{
  height: 100vh;
  width: 50vw;
}

.hamburger-menu{
  height: 2em;
  width: 2em;
  background-color: blue;
}

.container{
  display: flex;
  background-color: aqua;
  height: 100%;
  width: 35vw;
  justify-content: left;
  position: fixed;
  border-top: 3em solid purple ;
  z-index: 3;
}

.hide{
  right: 100%;
  animation-name: hide;
  animation-duration: 500ms;
}

.show {
  animation-name: show;
  animation-duration: 500ms;
}

@keyframes show {
  0%{
      left: -600px;
  }
  100%{
      left: 0px;
  }
}

@keyframes hide {
  0%{
      left: 0px;
  }
  100%{
      left: -600px;
  }
}

/*end of hamburger menu

/*carousel for mobile*/

.carousel-container{
  height: 30%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 15px solid transparent;
  border-style: ridge;

  box-shadow: 10px 30px 40px;
  background: linear-gradient(45deg, #000000, #414141) border-box;
  justify-content: space-around;
}

.img-container{
  height: 90%;
 padding: 20%;

}

.content{
  height: 90%;
  width: 100%;
  border-radius: 5px;
  border: #526470 outset 5px;
  box-shadow: 10px 15px 5px;
  
  background: url("../img/contBcg-0.jpeg") center/cover fixed no-repeat;
}

button {
  height: 7vh;
  border-radius: 50px;
  width: 9vw;
  background: linear-gradient(to top, #0e0e0e, #414141);
  color: white;
  border-style: hidden;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: larger;
  margin: 15px;
}

button:hover {
  cursor: pointer;
  color: white;
  background: linear-gradient(to top, #222222, #5f5f5f);
}

/* End of carousel for mobile */